.navbar li {
display: inline;
padding:1em;
}

.add_category {
margin-top:3%;
}

h1, h2, h3, h4 {
	text-align: center;
}

.add_button {
	margin-top:10px;
}

.photo_header{
	font-size: 40px;
	text-align: left;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	margin-bottom:15px;
}

.photos {
	margin-bottom: 20px;
}