
body {
	/*color:#808080;*/
	color: #000000:;
	font-family:"Century Gothic";
	font-size:18px;
	opacity: 0.5;
	overflow-x: hidden;
	height: 100%;
	-webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

body.overpaged {
   overflow: hidden;
}

.overpage {
 text-align: center;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  padding-top: 2%;
  bottom: 0;
  width: 100%;
  left: 100%;
  background-color: #fff;
  z-index: 1050;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  opacity: 1;
}

.overpage.opened {
	 display: block;
    left: 0%;
    height: 100%;
}

.background-defaults {
	-moz-transition: opacity 1s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
  	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

/*#background-1 {
  background:url("../images/Lighthouse.jpg") no-repeat center center fixed;
  background-size: cover;
}


#background-2 {
   background:url("../images/Desert.jpg") no-repeat center center fixed;
   background-size: cover;
}

#background-3 {
   background:url("../images/background.jpg") no-repeat center center fixed;
   background-size: cover;
}*/

a:link {
	outline: 0;
 text-decoration: none;
}

a:visited {
    outline: 0;
    text-decoration: none;
}

a:hover {
	outline: 0;
    color: #000000;
    text-decoration: none;
}

a:active {
	outline: 0;
    text-decoration: none;
}

p.header {
	font-size:40px;
	text-align:center;
}

.margin-for-navbar {
	margin-top: 100px;
}

.cell-element {
	margin-top: 30px;
	font-size:23px;
	text-align:center;
	vertical-align:middle;
	transition-duration: 1s;
}

.cell-element img {
	border-radius: 100%;
	width: 7em;
	height: 7em;
	border: 0;
	transition-duration: 1s;
	opacity: 1;
}

.cell-element p {
	color:#000000;
}

.cell-element:not(:hover) {
	opacity: 0.75;
}


/*About*/

body#about-page {
	background-color: none;
}

#about-page {
	background: url("../images/Dinara/IMG_6223.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

.about-avatar{
	background: url("../images/about_avatar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 10em;
	height: 10em;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
}

.center-div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-center {
	background-color: #fff;
	opacity: 0.7;
}

.about-center:hover {
	opacity: 1;
	transition-duration: 2s;
}

.about-header{
	font-size: 40px;
	margin-top: 15px;
}

.contact-email{
	font-size: 18px;
	margin-top: 10px;
}

.album-photo {
	/*height: 250px;
	width: 250px;*/
	height: 13em;
	width: 13em;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	outline: 0;
}

.logo-image {
	height: 1em;
	width: 1em;
}

a.logo-link:not(:hover) {
	opacity: 0.6;
}

.contact-body {
	margin-top: 10%;
}

#body {
	display:none;
	height: 100%;
	background-color: rgb(207, 196, 196);
}

/*html, body {
    margin: 0;
    height: 100%;
}*/

line {
    stroke: #808080;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

svg:hover line {
    stroke: #000000;
 }

 .navigate-col {
 	height: 100%;
 	position: fixed;
 	top:45%;
 }

 .scroll-top-arrow {
 	bottom: 0;
 	position:fixed;
 	margin-left: 20px;
 }

 .opened .scroll-top-arrow {
	right:2%;
 }

