
body {
	color:#808080;
	font-family:"Century Gothic";
	font-size:18px;
}

a:link {
	outline: 0;
 text-decoration: none;
}

a:visited {
    outline: 0;
    text-decoration: none;
}

a:hover {
	outline: 0;
    color: #000000;
    text-decoration: none;
}

a:active {
	outline: 0;
    text-decoration: none;
}

p.header {
	font-size:40px;
	text-align:center;
}

.margin-for-navbar {
	margin-top: 100px;
}

.cell-element {
	margin-top: 30px;
	font-size:23px;
	text-align:center;
	vertical-align:middle;
}

.cell-element img {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	border: 0;
}

.cell-element p {
	color:#808080;
}

.about-avatar{
	background: url("../images/sofaa.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
}

.center-div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-header{
	font-size: 40px;
	margin-top: 15px;
}

.contact-email{
	font-size: 18px;
	margin-top: 10px;
}

.album-photo {
	height: 250px;
	width: 250px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	outline: 0;
}

.logo-image {
	height: 40px;
	width: 40px;
}

a.logo-link:not(:hover) {
	opacity: 0.6;
}

.contact-body {
	margin-top: 10%;
}

#body {
	display:none;
	height: 100%;
	background-color: rgb(207, 196, 196);
}

