p.header {
font-size:50px;
text-align:center;
}

.category {
	font-size:30px;
	text-align:center;
	vertical-align:middle;
	padding: 15px
}

.category:hover {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 2px;
	cursor: pointer;
}


.filter {
 background-color: #f8f8f8;
 margin-bottom:5%;
 padding: 10px;
}

.filter-criteria {
	float: left;
	margin-right: 20px;
}

.good-avatar {
	height: 200px;
	background-size: cover;
	background-position: center;
	margin: 0 30px;
}

.category p {
    font-size: 20px;
    margin-bottom: 0;
}

p.price:after {
   
}
