/*body {
	 background:url("../images/background.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}*/

.background-defaults {
	 -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

#background-1 {
  background:url("../images/Lighthouse.jpg") no-repeat center center fixed;
}


#background-2 {
   background:url("../images/Desert.jpg") no-repeat center center fixed;
}

#background-3 {
   background:url("../images/background.jpg") no-repeat center center fixed;
}