/*body {
	 background:url("../images/background.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}*/

.background-defaults {
	-moz-transition: opacity 1s ease-in-out;
	 
    -webkit-transition: background-image 1s ease-in-out;
  background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

#background-1 {
  background:url("../images/YarkoNastya/IMG_9521.jpg") no-repeat center center fixed;
  background-size: cover;
}


#background-2 {
   background:url("../images/khristya/IMG_1272.jpg") no-repeat center center fixed;
   background-size: cover;
}

#background-3 {
   background:url("../images/Dinara/IMG_6148.jpg") no-repeat center center fixed;
   background-size: cover;
}