/*body {
	 background:url("../images/background.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}*/

body{
	/*overflow: hidden;*/
	color: #584F4F;
	/*background-color: #352F2F;*/
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
.background-defaults {
	-moz-transition: opacity 1s ease-in-out;
	 
    -webkit-transition: background-image 1s ease-in-out;
  	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

#background-1 {
  background:url("../images/YarkoNastya/IMG_9521.jpg") no-repeat center center fixed;
  background-size: cover;
}


#background-2 {
   background:url("../images/khristya/IMG_1272.jpg") no-repeat center center fixed;
   background-size: cover;
}

#background-3 {
   background:url("../images/Dinara/IMG_6148.jpg") no-repeat center center fixed;
   background-size: cover;
}

.main-section {
	background-color: #352F2F;
	/*background-size: 100%;*/
	/*background-repeat: no-repeat;*/
	color: white;
	font-size: 2vw;
	letter-spacing: 0.6em;
	height: 100%;
	/*margin-left: 5px;*/
}

.main-container{
	height: 100vh;
}

.main-row{
	height: 100%;

}

.main-title {
	margin-left: 25%;
	margin-top: 43%;
}

.wide-navbar{
	width: 50%;
	background-color: #352F2F;
}

ul {
	width: 100%;
}

li {
	margin-right: 7%;
}
/*slider div*/

