.nav-container{
	height: 70px;
	/*background-color: white;*/
}

.nav-center {
	height: 73px;
	position: absolute;
	top: 5%;
	transition-duration: 2s;
}

.nav-center:not(:hover) {
	opacity: 0.7;
	transition-duration: 2s;
}

.nav-top {
	height: 73px;
	position: absolute;
	top: 0;
	border-color: #FBF9F9; 
}

.navbar-brand {
	font-size: 35px;
	font-family:"MyFont";
	color: #584F4F !important;
}

.brand-margin{
	margin-top: 10px;
}

.nav-list-margin {
	margin-top: 10px;
}

.my-nav-container {
	/*background-color: #FBF9F9;*/
}

