/*body {
	 background:url("../images/background.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}*/

body{
	/*overflow: hidden;*/
	color: #584F4F;
	background-color: #352F2F;
}
.background-defaults {
	-moz-transition: opacity 1s ease-in-out;
	 
    -webkit-transition: background-image 1s ease-in-out;
  	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover !important;
}

#background-1 {
  background:url("../images/YarkoNastya/IMG_9521.jpg") no-repeat center center fixed;
  background-size: cover;
}


#background-2 {
   background:url("../images/khristya/IMG_1272.jpg") no-repeat center center fixed;
   background-size: cover;
}

#background-3 {
   background:url("../images/Dinara/IMG_6148.jpg") no-repeat center center fixed;
   background-size: cover;
}

.main-section {
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	font-size: 2vw;
	letter-spacing: 0.6em;
	height: 100%;
	/*margin-left: 5px;*/
}

.main-container{
	height: 85vh;
}

.main-row{
	height: 100%;

}

.main-title {
	margin-left: 55%;
	margin-top: 25%;
}

.right-section{
	height: 100%;
}

.right-row{
	height: 100%;
}

.right-subsection{
	height: 32.5%;
	width: 85%;
	margin-left: 15px;
	margin-bottom: 2%;	
}

.first{
	background:url("../images/khristya/IMG_1272.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.second{
	background:url("../images/MartaSanya/IMG_5420.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.third{
	background:url("../images/YarkoNastya/IMG_9521.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.wide-navbar{
	width: 50%;
}

ul {
	width: 100%;
}

li {
	margin-right: 7%;
}
/*slider div*/

