@font-face{
	font-family: "HeaderFont";
  	src: url("../fonts/als-script/alsscrp.ttf") format("truetype");
}

@font-face{
	font-family: "RegularFont";
  	src: url("../fonts/ufonts.com_century-gothic.ttf") format("truetype");
}

html, body {
	background-color: #352F2F;
	color: gray;
	height: 100%;
	overflow-y: hidden; 
}

.full-height {
	height: 100%;
}

.main-column {
	background-color: white;
	/*height: 100vh;*/
	height: 100%;
}

.header {
	text-align: center;
	font-family: "HeaderFont";
	font-size: 40px;
	min-height: 13%;
}

.sofaa-name {
	font-size: 60px;
}

.main-navbar {
	background-color: transparent;
	border-color: transparent;
	font-size: 22px;
	font-family: "RegularFont";
	min-height: 7%;
}

/*.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}*/

/*.navbar-center ul {
	width: 70%;
}*/

/*.navbar-center li {
	margin-left: 12%;
}*/

.navbar-margin{
	/*margin-left: 11%;*/
}

.navbar-center {
	width: 100%;
	text-align: center;
}

.list-div {
	display: inline-block;
}

.photo-section {
	height: 62%;
	margin-top: 2%;
}

.photo-row {
	height: 30%;
	width: 100%;
	margin-left: 7%;
	text-align: center;
	
}

.photo-div {
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 3%;
	height: 100%;
	display: inline-block;
	/*width: 25%;*/
}

#photo-1 {
	background:url("../images/MartaSanya/IMG_5420.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-2 {
	background:url("../images/Dinara/IMG_6137.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-3 {
	background:url("../images/khristya/IMG_1240.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-4 {
	background:url("../images/YarkoNastya/IMG_9312.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-5 {
	background:url("../images/khristya/IMG_1272.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-6 {
	background:url("../images/MartaSanya/IMG_5413.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-7 {
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-8 {
	background:url("../images/YarkoNastya/IMG_9641-2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-9 {
	background:url("../images/Dinara/IMG_6154.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-10 {
	background:url("../images/YarkoNastya/IMG_9521.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-11 {
	background:url("../images/khristya/IMG_1316.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#photo-12 {
	background:url("../images/MartaSanya/IMG_5099.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
